.header {
    background-color:  #046093;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 4%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
   
}

.header .logo img {
    border-radius: 10%;
    height: 4rem;
}

.header .navbar a {
  margin-right: 1.25rem;
  color: white;
  text-decoration: none;
}
  
.header .navbar a:hover {
    color: #019fb9;
    border-bottom: .1rem solid #019fb9;
    
}
